
*.background:	#0a010c
*.color0:	#0a010c
*.color1:	#450E58
*.color10:	#4F136B
*.color11:	#5E1C74
*.color12:	#952327
*.color13:	#2B3787
*.color14:	#701A90
*.color15:	#8c9dc1
*.color2:	#4F136B
*.color3:	#5E1C74
*.color4:	#952327
*.color5:	#2B3787
*.color6:	#701A90
*.color66:	#0a010c
*.color7:	#8c9dc1
*.color8:	#626d87
*.color9:	#450E58
*.foreground:	#8c9dc1
*background:	#0a010c
*color0:	#0a010c
*color1:	#450E58
*color10:	#4F136B
*color11:	#5E1C74
*color12:	#952327
*color13:	#2B3787
*color14:	#701A90
*color15:	#8c9dc1
*color2:	#4F136B
*color3:	#5E1C74
*color4:	#952327
*color5:	#2B3787
*color6:	#701A90
*color66:	#0a010c
*color7:	#8c9dc1
*color8:	#626d87
*color9:	#450E58
*customization:	-color
*foreground:	#8c9dc1

URxvt*background:	[100]#0a010c
URxvt*borderColor:	[100]#0a010c
URxvt*cursorColor:	#8c9dc1
URxvt*depth:		32
URxvt*foreground:	#8c9dc1
URxvt.colorUL:		#4682B4
URxvt.font:		xft:FuraCode Nerd Font Mono:pixelsize=12,style=Retina,Regular
!URxvt.font:		xft:Anonymice Powerline:regular:size=9
URxvt.foreground:	#eeeeee
URxvt.keysym.M-Escape:	perl:keyboard-select:activate
URxvt.keysym.M-s:	perl:keyboard-select:search
URxvt.keysym.M-u:	perl:url-select:select_next
URxvt.perl-ext-common:	defaults,resize-font,url-select,keyboard-select
URxvt.resize-font.bigger:	C-Up
URxvt.resize-font.reset:	C-equal
URxvt.resize-font.show:		C-slash
URxvt.resize-font.smaller:	C-Down
URxvt.scrollBar:	false
URxvt.secondaryScreen:	1
URxvt.secondaryScroll:	0
URxvt.shading:	20
URxvt.transparent:	true
URxvt.url-select.lancher:	lynx
URxvt.url-select.underline:	true
XClock*background:	#0a010c
XClock*foreground:	#8c9dc1
XClock*hourColor:	rgba:8c/9d/c1/ff
XClock*majorColor:	rgba:8c/9d/c1/ff
XClock*minorColor:	rgba:8c/9d/c1/ff
XClock*minuteColor:	rgba:8c/9d/c1/ff
XClock*secondColor:	rgba:8c/9d/c1/ff
XTerm*background:	#0a010c
XTerm*cursorColor:	#8c9dc1
XTerm*foreground:	#9c9dc1
!XTerm*faceName:		DejaVu Sans Mono for Powerline:regular:size=9 
XTerm*faceName:		Hack Nerd Font:regular:size=9
Xpdf*fileFilterStyle:	filter_hidden_files
emacs*background:	#0a010c
emacs*foreground:	#8c9dc1

